<div id="sidebar">
	<ul>
		<li class="block" class="cat">
			<h4>CATEGORIES</h4>
			<ul>
				<li ><%= link_to "Pastry", pastry_path %></li>
				<li ><%= link_to "Dessert", dessert_path %></li>
				<li ><%= link_to "Dish", dish_path %></li>
				<li ><%= link_to "Appetizer", appetizer_path %></li>
			</ul>
		</li>
	</ul>
</div>