	<!-- slider holder -->
		
		<!-- slider -->
	<div class=" home-slider">
        	<h4>Featured Posts</h4>		 <%= link_to "View Recent Posts", posts_path%>

		    			 
		     <article>
		     	<div class="post"><a href="#"><h5>Calamares</h5></a>
					<%= image_tag "613-calamares-613squid_19870708.jpg"%><p>Pellentesque 		habitant morbi tristique senectus et netus et malesuada fames ac turpis 	egestas. Vestibulum tortor quam, feugiat vitae<a href="#">... See More  	&#8594;</a> <em><a href="">January 25, 2013</a></em></p>
				</div>
				<div class="meta">
					<div class="user"><a href="#">admin</a></div>
					<div class="categories"><a href="#"><em>Main Dish</em></a></div>
					<div class="comments"><a href="#">5 comments </a></div>
				</div>
		    </article>
		    <article >
		    	<div><a href="/posts/show/"><h5>Pellentesque habitant morbi</h5></a>
					<p>Pellentesque habitant morbi tristique senectus et netus et 			malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
					<a href="#">... See More  	&#8594;</a> <em><a href="">January 25, 2013</a></em></p>
				</div>
				<div class="meta">
					<div class="user"><a href="#">admin</a></div>
					<div class="categories"><a href="#"><em>Main Dish</em></a></div>
					<div class="comments"><a href="#">5 comments </a></div>
				</div>
		    </article>

		     <article >
		     	<div><a href="#"><h5>Pellentesque habitant morbi</h5></a>
					<p><span>Pellentesque habitant morbi tristique senectus et netus et 			malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.	 <a href="#">... See More  &#8594;</a></span><a href="">January 25, 2013</a>
					</p>
				</div>
				<div class="meta">
					<div class="user"><a href="#">admin</a></div>
					<div class="categories"><a href="#"><em>Main Dish</em></a></div>
					<div class="comments"><a href="#">5 comments </a></div>
				</div>
		    </article>

		     <article class="format-standard">
		     	<div><a href="#"><h5>Chicken Adobo</h5></a><%= image_tag "Chicken-Adobo.jpg"%>
					<p><span>Pellentesque habitant morbi tristique senectus et netus et 			malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.	<a href="#">... See More  &#8594;</a></span><a href="">January 25, 2013</a>
					</p>
				</div>
				<div class="meta">
					<div class="user"><a href="#">admin</a></div>
					<div class="categories"><a href="#"><em>Main Dish</em></a></div>
					<div class="comments"><a href="#">5 comments </a></div>
					
				</div>
		    </article ><br/>
		 </div>
    	<!-- ENDS slider -->
    			
	<!-- ENDS slider holder -->				   		        
		 <!--    <div class="home-block">
	        		<h2 class="home-block-heading"><span>LATEST POSTS</span></h2>
	        		<div class="one-fourth-thumbs clearfix">
	        			
	        			<div class="recent">
		        			<p>
	        					<a href="#"><b>Pellentesque habitant morbi</b></a>
	        					<span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</span>
	        					<em>December 08, 2011</em>
			        		</p>
		        		</div>
		        		
		        		<div class="recent">
		        			<p>
	        					<a href="#"><b>Pellentesque habitant morbi</b></a>
	        					<span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</span>
	        					<em>December 08, 2011</em>
			        		</p>
		        		</div>
		        		
		        		<div class="recent">
		        			<p>
	        					<a href="#"><b>Pellentesque habitant morbi</b></a>
	        					<span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</span>
	        					<em>December 08, 2011</em>
	        					
			        		</p>    
		        		</div>
		        		
		        		<div class="recent">
		        			<p>
	        					<a href="#"><b>Pellentesque habitant morbi</b></a>
	        					<span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</span>
	        					<em>December 08, 2011</em>
			        		</p>       		
		        		</div><br/>
		        		<p>
	        		   		<a href="#" class="more-link right">More projects  &#8594;</a>
	        		   	</p>
	        		</div>

	        		
	        	</div>
	 -->