// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* GENERAL ------------------------------------------------------------*/

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

.clearfix{ clear:both; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.home-slider{
	float: right;
	width:700px;
	margin-right:80px;
}

.wrapper{
	margin: 5px 5px 5px 5px; 
	position: relative;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}



body p{
	margin-bottom: 21px;
}

body a{
	text-decoration: none;
	color:black;
}

a:hover{
  background-color:#E4E0E0; 

}


#logo{
	display: inline-block;
	padding-top: 40px;
	padding-bottom: 30px;
}

#logo:hover{ opacity: 0.8;}

h1,h2,h3,h4,h5,h6{
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	font-weight: 400;
}

h1{ font-size: 48px;}

h2{ font-size: 36px; }

h3{ font-size: 24px; }

h4{ font-size: 21px; }

h5{ font-size: 18px; }

h6{ font-size: 14px; }

#main,
footer,
aside{ line-height: 1.5em; 
color: #666;
}


.wrapper {
	width: 940px;
}

.right{
	float: right;
}

.left{
	float: left;
}


.right:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#top-widget-holder,
footer,
aside{
    font-size: 12px;
    line-height: 1.5em;
}

.page-heading{
	text-align: left;
	margin-bottom: 15px;
	background: url(../img/div-line.png) repeat-x center center;
}

.page-heading span{
	padding: 0px 20px;
	margin-left: 20px;
}


/* WIDGETS------------------------------------------------*/

#top-widget-holder{
    z-index: 1000;
    position: relative;
    
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5); 
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    -o-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    box-shadow: 0px 1px 2px rgba(0,0,0,.5);
}

#top-widget{
	display: none;
}

#top-widget .padding{
	padding-top: 20px;
    padding-bottom: 30px;
}

#top-open{
	position: absolute;
	bottom: -42px;
	right: 0px;
	display: block;
	width: 42px;
	height: 42px;
	background: url(../img/top-open.png) no-repeat 0px 0px ;
	
	text-indent: -9000px;
}

#top-open.tab-closed{
	background-position: -44px 0px;	
}

/* WIDGET COLS ------------------------------------------------------------*/

.widget-cols h4{
	margin-bottom: 21px;
}

.widget-cols>li{
	width: 220px;
	float: left;
	margin-right: 20px;
}

.widget-cols>li.fourth-col{
	margin-right: 0px;
}


/* COMBO NAVIGATION ------------------------------------------------------------*/
#comboNav {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  float: left;
}

/* NAVIGATION ------------------------------------------------------------*/


nav{
	margin-top: 0px;
	height: 30px;
}


nav a{
	text-decoration: none;
}

#nav li{
	margin-right: 20px;
}

#nav>li>a{
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	display: block;
	overflow: hidden;
	padding: 0px 0px 7px 0px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
}


#nav>li.current-menu-item>a,
#nav>li.current_page_item>a{
	border-bottom: solid #ebebe8 5px;
}



/* sub navigation -----------------------------------------------------*/

#nav>li ul{
	display: block;
	margin-top: -10px;
	
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	
}

#nav>li ul li a{
	display: block;
	padding: 15px 20px;
	display: block;
	font-size: 11px;
	text-decoration: none;
}

#nav>li ul li a span{
	display: block;
}



/* BREADCRUMBS ------------------------------------------------------------*/

.breadcrumbs{
	position: absolute;
	overflow: hidden;
	top: -18px;
	left: 0px;
	height: auto;
	font-size: 11px;
}

.breadcrumbs a{
	text-decoration: none;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.breadcrumbs li{
	display: inline;
}


.breadcrumbs li strong{
	font-weight: bold;
	font-size: 21px;
}

/* CONTACT CONTENT ------------------------------------------------------------*/

#contactForm{
	position: relative;
	width: 700px;
	float: left;
	margin-right: 20px;
}

#contact-sidebar{
	position: relative;
	width: 220px; /* 220 - 20 padding */
	float: right;
	padding: 20px 10px 20px 10px;
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

/* SIDEBAR ------------------------------------------------------------*/

#sidebar{
	position: relative;
	width: 220px; /* 220 - 20 padding */
	float: right;
	padding: 45px 10px 20px 10px;
	margin-top: 0px;
	margin-bottom: 40px;
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

#ss{
	position: relative;
	width: 220px; /* 220 - 20 padding */
	float: right;
	padding: 45px 10px 20px 10px;
	margin-top: -58px;
	margin-bottom: 40px;
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

#sidebar .block{
	margin-bottom: 18px;
	padding-bottom: 5px;
}

#sidebar .block:last-child{
	border-bottom: none;
}



#sidebar h4,
#contact-sidebar h4{
	margin-bottom: 20px;
}

#sidebar li{
	margin-bottom: 7px;
}
#sidebar ul li, ul ul li{
	list-style-type:none;	

}

#sidebar ul li a, ul ul li a{
	list-style-type:none;	
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
}

#sidebar ul li a:hover, ul ul li a:hover{
	color: #E170DB;
	background-color:none;
}
/* HOME ------------------------------------------------------------*/

.home-block{
	margin-bottom: 20px;
}
.cat a:hover{
	color:white;	
}

.home-block-heading{
	text-align: center;
	margin-bottom: 40px;
	background: url(../img/div-line.png) repeat-x center center;
}

.home-block-heading span{
	padding: 0px 20px;
}

.home-block figure{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	line-height: 1.2em;
	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.2); 
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    -o-box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    box-shadow: 0px 0px 2px rgba(0,0,0,.2);
}

.home-block figure .thumb{
	display: block;
	
}


.home-block figure img{
	max-width: 100%;
	opacity: .999;
	}

.home-block figure a:hover img{
	opacity: 0.1;
	line-height: 0em;
	color:orange;
}


.home-block figure.last{
	margin-right: 0px;
}

.home-block figcaption{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

/* modernizr fix for ie 8 and earlier */

.no-opacity .home-block figcaption{
	display: none;
}

.no-opacity .home-block figure:hover figcaption{
	display: block;
}

.home-block figure .opener{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 999;
}

.opacity .home-block figure .opener{ display: none; }

.home-block figcaption strong,
.home-block figcaption span,
.home-block figcaption em{
	display: block;
	margin-left: 17px;
	margin-right: 17px;
}

.home-block figcaption strong{ 
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 7px;
	margin-top: 17px;
}

.home-block figcaption span{ 
	font-size: 11px;
	margin-bottom: 7px;
}

.home-block figcaption em{ 
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	bottom: 10px;
}

.home-block figcaption em{ font-weight: bold; }

.one-third-thumbs figure{ width: 300px; }

.one-fourth-thumbs figure{ width: 220px; }

.more-link{
	margin-bottom: 0px;
}

/* MAIN ------------------------------------------------------------*/

#main{
	padding-top: 40px;
	background: url(../img/oblique-lines.png) repeat-x;
	margin-bottom: 60px;
}

/* PORTFOLIO ------------------------------------------------------------*/

.portfolio-thumbs{
	width: 960px;
	padding-top: 20px;
}

.portfolio-thumbs figure{ width: 300px; }

.portfolio-thumbs figure{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	line-height: 1.2em;
}

.portfolio-thumbs figure .thumb{
	display: block;
}

.portfolio-thumbs figure img{
	max-width: 100%;
	opacity: .999;
		
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.portfolio-thumbs figure a:hover img{
	opacity: 0.1;
	line-height: 0em;
}

.portfolio-thumbs figcaption{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.portfolio-thumbs figcaption strong,
.portfolio-thumbs figcaption span,
.portfolio-thumbs figcaption em{
	display: block;
	margin-left: 17px;
	margin-right: 17px;
}

.portfolio-thumbs figcaption strong{ 
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 7px;
	margin-top: 17px;
}

.portfolio-thumbs figcaption span{ 
	font-size: 11px;
	margin-bottom: 7px;
}

.portfolio-thumbs figcaption em{ 
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	bottom: 10px;
}


/* modernizr fix for ie 8 and earlier */

.no-opacity .portfolio-thumbs figcaption{
	display: none;
}

.no-opacity .portfolio-thumbs figure:hover figcaption{
	display: block;
}

.portfolio-thumbs figure .opener{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 999;
}

.opacity .portfolio-thumbs figure .opener{ display: none; }

/* PROJECT ------------------------------------------------------------*/


.project-heading{
	margin: 44px 24px 44px 0px;
}


.project-heading h2{
	float: left;
	margin-right: 20px;
}

.project-heading .launch{
	display: block;
	float: left;
	text-decoration: none;
	padding-top: 5px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


.project-description{
	float: left;
	width: 700px;
	margin-bottom: 70px;
	margin-right: 20px;
}

.project-info{
	float: left;
	width: 220px;
	margin-bottom: 70px;
}

.project-info strong{ font-weight: bold; }

.project-pager{
	overflow: hidden;
	margin: 0px;
	padding-bottom: 24px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 24px;
}

.project-pager a{
	text-decoration: none;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.project-pager a:hover{
	text-decoration: none;
}

.project-pager .prev-project{
	float: left;
}

.project-pager .next-project{
	float: right;
}

/* RELATED PROJECTS ---------------------------------------------------*/

.related-projects{
	display: block;
	width: 940px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 24px 0px 50px 0px;
}

.related-heading{
	font-weight: bold;
	margin: 0px 0px 24px 0px;
}

.related-projects .related-list{
	display: block;
}

.aa a:hover{
	background-color:blue;


}
.related-projects  figure{
	display: block;
	float: left;
	width: 220px;
	margin-right: 15px;
}

.related-projects  figure .last{
	margin-right: 0px;
}

.related-projects .thumb{
	display: block;
	margin-bottom: 12px;
	
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2); 
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2); 
}

.related-projects .thumb:hover img{
	opacity: 0.15;
}

.related-projects figure img{
	max-width: 100%;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


/* CONTACT ------------------------------------------------------------*/


#map_canvas{
	display: block;
	height: 300px;
	width: 100%;
	margin-bottom: 24px;
	margin-top: 40px;	
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

.map-content{
	margin-bottom: 60px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ccc;
}

.address-block li{
	padding-left: 20px;
}

.address-block .address{ background: url(../img/icon-address.png) no-repeat top left  }

.address-block .phone{ background: url(../img/icon-phone.png) no-repeat top left}

.address-block .mobile{ background: url(../img/icon-mobile.png) no-repeat top left }

.address-block .email{ background: url(../img/icon-email.png) no-repeat top left }

/* PAGE ------------------------------------------------------------*/

.floated-content,
.fullwidth-content{
	
}

/* BLOG ------------------------------------------------------------*/

.floated-content,
#posts-list,
#post-content{
	position: relative;
	width: 1000px;
	float: left;
	margin-right: 20px;
}

#posts-list .page-heading,
.fullwidth-content .page-heading,
.floated-content .page-heading{
	margin-bottom: 35px;
}

#posts-list .entry-date{
	position: absolute;
	top: 0px;
	left: 23px;
	width: 97px;
	height: 97px;
	background: url(../img/date.png) no-repeat;
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
}

#posts-list .entry-date .number{
	font-size: 50px;
	padding-top: 25px;
	text-align: center;
}

#posts-list .entry-date .year{
	text-align: center;
	padding-top: 10px;
}


#posts-list article{
	position: relative;
	padding-left: 160px;
	margin-bottom: 40px;
}

#posts-list .feature-image,
#post-content .feature-image{
	width: 540px;
	margin-bottom: 21px;
	line-height: 0em;
	
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

#posts-list .feature-image img,
#post-content .feature-image img{
	max-width: 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#posts-list .feature-image:hover img,
#posts-content .feature-image:hover img{
	opacity: 0.2;
}

#posts-list .post-heading{
	margin-bottom: 20px;
	line-height: 1.0em;
}

#posts-list .excerpt,
#posts-list .read-more{
	display: block;
	margin-bottom: 20px;
}

article .meta div{
	padding: 10px 10px 10px 30px;
	float: left;
	max-width: 170px;
}

article .meta .comments{
	border-left: 1px solid #cecece;	
	border-right: 1px solid #cecece;
	background: url(icon-comments.png) no-repeat;
}

article .meta .user{
	background: url(icon-user.png) no-repeat;
}

article .meta .categories{
	background: url(icon-tags.png) no-repeat;
}

article .meta .categories,
article .meta .comments,
article .meta .user{
	background-position: 5px 12px;	
}

/* SINGLE ------------------------------------------------------------*/

.post-content{
	margin-bottom: 20px;	
}

.single-post .meta{
	margin-bottom: 50px;	
}

/* PAGE NAVIGATION ------------------------------------------------------------*/

.page-navigation{
	display: block;
	margin-left: 160px;
	margin-bottom: 0px;
}

.page-navigation a{
	display: block;
	padding: 14px 18px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.8);
}

.page-navigation .nav-next{
	float: left;
}

.page-navigation .nav-previous{
	float: right;
}

/* PAGER ------------------------------------------------------------*/

.pager{
	overflow: hidden;
	display: block;
	font-size: 11px;
	margin: 0px 0px 0px 0px;
	padding-bottom: 70px;
}

.pager li{
	display: block;
	margin-right: 5px;
	float: left;
}

.pager li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	width: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	
	
}

.pager .paged{
	float:right;
	font-style:italic;
}


/* SLIDER-HOLDER ------------------------------------------------------------*/

#slider-holder{
	padding-bottom: 60px;

}

.home-slider{
	float: left;
	width:620px;
	text-align:justify;
}

.home-slider a:hover{
	background-color:#E4E0E0; 
}

p a:hover{
	background-color:#E4E0E0; 
}
a:hover{
background-color:#E4E0E0; 
}

#slider-holder #headline{
	position: relative;
	float: right;
	width: 300px; /* 300 - 40 padding */
	min-height: 275px;
	margin-top: -58px;
	padding: 70px 20px 20px 20px;;
	
	
	
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
}

#headline h1{ 
	margin-bottom: 30px;
	line-height: 1.0em;
}


#headline em#corner,
#sidebar em#corner{
	display: block;
	position: absolute;
	top:0px;
	left: -14px;
	width: 14px;
	height: 18px;	
	background-image: url(sidebar-corner.PNG) no-repeat;

}


/* FOOTER ------------------------------------------------------------*/


.footer-bottom{
	margin-top: 30px;
}

footer .wrapper,
.footer-bottom{
	padding-top: 40px;
}



/* FOOTER BOTTOM ------------------------------------------------------------*/

.footer-bottom{
	margin-bottom: 60px;
	overflow: hidden;
}

.footer-bottom .left{
	width: 50%;
	padding-top: 10px;
	float: left;
}

.footer-bottom .right{
	width: 50%;
	float: right;
}





#social-bar{
	display: block;
	overflow: hidden;
}

#social-bar li{
	display: block;
	float: right;
	width: 36px;
	height: 36px;
	margin-left: 5px;
}

#social-bar li a{
	display: block;
	width: 100%;
	height: 100%;
}
/* COMMENTS ------------------------------------------------------------*/


#comments-wrap{
	padding-top: 40px;
}

.heading{
	margin-bottom: 21px;
}

#comments-wrap a{
	text-decoration: none;
}

.comment {
  border-bottom: 1px #ccc solid;
  margin: 0 0 18px;
  padding: 0px;
}

.commentlist .odd{
	
}

.commentlist .even{
	
}

.v-card{ color: #ccc;}

.comment .avatar {
	float: left;
	margin: 2px 15px 0 0;
	height: 60px;
	width: 60px;
}

.respond-title-wrap,
.comment-title-wrap {
	border-bottom: 1px solid #484848;
	padding: 0 0 15px 0;
	margin: 0 0 30px 0;
}

#respond-title,
#comments,
.add-comment-link {
	font-size: 15px;
	color: #2c2d31;
	font-weight: bold;
}

.respond-caption { font-size: 11px; }

.add-comment-link a {
	font-size: 12px;
	padding: 0 15px 0 0;
}

.commentlist {
	margin: 0 0 30px 0;
	list-style-type: none;
	font-size: 13px;
}

.comment-body{
	position: relative;
	margin-bottom: 20px;
}

.commentlist ul li { padding: 0 0 0px 0; }


.commentlist ul li:first-child .comment-border {
	 border-bottom: 1px #ccc solid;
	margin: 18px 0 0 0;
 	height: 18px;
	width: 430px;
}

/* CHILDREN ------------------------------------------------------------*/

.children .comment {  
	border-bottom: none;
	border-top: 1px #ccc solid;
}

.children { list-style-type: none; }


.children .comment .avatar {
	height: 35px;
	width: 35px;
}

.comment p:last-child { margin: 0; }

.comment-author cite a {
	padding: 0 15px 0 0;
	color: #2C2D31;
}



.comment .children li{ background: url(../img/reply.png) no-repeat 10px 40px;  }

.comment .children .comment-body { 
	margin: 20px 0 0 50px;
}

.nocomments {
	text-align: center;
	padding: 20px;
}

.comment-body ul { list-style-type: disc; }

.comment-body ol { list-style-type: decimal; }

/* REPLY ------------------------------------------------------------*/

.reply {
	position: absolute;
	right: 0;
	top: -5px;
}

.comment-reply-link { 
	display: block;
	color: #444;
	font-size: 11px;
	background: #eaeaea;
	padding: 3px 10px;
	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-o-box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}



.comment-reply-link:hover{
	background: #ea4c88;
	color: #fff;
}

.comment-reply-link-wrap {
	position: absolute;
	right: 0;
	top: -18px;
}

/* META ------------------------------------------------------------*/

.comment-meta { 
	margin: 0 0 12px 50px; 
	color: #a4a5aa;
	font-size: 11px;
	position: relative;
}

.children .comment-meta { margin-left: 40px; }



.comment-author cite {
	font-weight: bold;
	font-style: normal;
	color: #2C2D31;
	margin: 0;
	padding: 0;
}

/* COMMENTS PAGINATION ------------------------------------------------------------*/

.comments-pagination {
	clear:both;
	overflow: hidden;
	padding:20px 0;
	position:relative;
	font-size:11px;
	line-height:13px;
	margin-bottom: 10px;
}
 
.comments-pagination span,
.comments-pagination a {
	display:block;
	float:left;
	margin: 2px 2px 2px 0;
	padding:6px 9px 5px 9px;
	text-decoration:none;
	width:auto;
	color:#fff;
	background: #555;
}
 
.comments-pagination a:hover{
	color:#fff;
	background: #000000;
}
 
.comments-pagination .current{
	padding:6px 9px 5px 9px;
	background: #000000;
	color:#fff;
}

/* FORMS ------------------------------------------------------------*/

#commentform,
#contactForm{
	margin-bottom: 18px;
	color: #484848;
}


#commentform h4,
#contactForm h4{
	margin-top: 20px;
	margin-bottom: 20px;
}

.textarea{
	width:700px;
}
.title{
	float:left;
}
.recipe{
	display:inline-block;
	width:100px;
}
.category{
	float:right;
}

.post fieldset
{
	border: 1px solid #781351;
	width: 720px;
}

.post legend
{
color: #fff;
background: #F1B7E3;
border: 1px solid #781351;
padding: 2px 6px
}

#contactForm input:focus,
#contactForm textarea:focus,
#commentform input:focus,
#commentform textarea:focus{
	background: #fff;
	-webkit-box-shadow: 0px 0px 3px rgba(234,76,136,.4);
	-moz-box-shadow: 0px 0px 3px rgba(234,76,136,.4);
	-o-box-shadow: 0px 0px 3px rgba(234,76,136,.4);
	box-shadow: 0px 0px 3px rgba(234,76,136,.4);
}

#contactForm input[type="text"],
#commentform input[type="text"]{
	overflow: auto;
	width: 200px;
	margin-bottom: 20px;
	
	overflow: hidden;
}

#contactForm  textarea,
#commentform textarea{
	width: 90%;
	height: 230px;
}


#contactForm input[type="submit"],
#commentform input[type="submit"],
#contactForm input[type="button"]{
	margin: 21px 0px;

	width: auto;
	color: #444;
	font-size: 11px;
	background: #eaeaea;
	padding: 3px 10px;
	border: 1px solid #ccc;
	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-o-box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	 
	 cursor: pointer;
}

#contactForm input[type="submit"]:hover,
#commentform input[type="submit"]:hover,
#contactForm input[type="button"]:hover{
	background: #ea4c88;
	color: #fff;
}

#contactForm label,
#commentform label{
	padding-left: 7px;
	color: #484848;
}


#respond{ 
	margin: 25px 0 0px 0px;
}

#respond .cancel-comment-reply a{
	float: right;
	color: #444;
	text-decoration: none;
	background: #eaeaea;
	padding: 3px 10px;
	border: 1px solid #ccc;
	
	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-o-box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}

#respond .cancel-comment-reply a:hover{
	background: #ea4c88;
	color: #fff	
}

#error{
	margin-left: 10px;
}


#sent-form-msg{
	padding: 5px 10px;
	margin-bottom: 40px;
	background: rgba(0, 0, 0, 0.1);
	color: #444;
}

body{
	color: #888;
}

body,
.home-block-heading span,
.page-heading span{
	background: #ebebe8;
}

body a{ color: #444; }

body a:hover,
#top-widget-holder a:hover,
#nav>li>a:hover,
.project-heading .launch:hover{
	color: #ea4c88;
}

h1,h2,h3,h4,h5,h6{ color: #444444; }

/* Selection colours (easy to forget) */

::selection 	 	{background: #ea4c88; color: #fff; }
::-moz-selection 	{background: #ea4c88; color: #fff; }
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: #ea4c88;}

/* HEADER ------------------------------------------------------------*/

header{ background: #444 url(../img/header.png) bottom left repeat-x; }


/* WIDGETS------------------------------------------------*/

#top-widget-holder{
    background: #333;
    color: #aaaaaa;
}

#top-widget-holder h4{
	color: #ebebe8;
}

#top-widget-holder a{
	color: #fff;
}

/* NAVIGATION ------------------------------------------------------------*/

nav a{ color: #E2E0D7; }

#nav>li.current-menu-item>a,
#nav>li.current_page_item>a{
	color: #E2E0D7;
}

/* sub navigation -----------------------------------------------------*/

#nav>li ul{ background: #2f2f2f; }

#nav>li ul li a{ color: #717171; }

#nav>li ul li a:hover,
#nav>li ul li:nth-child(even) a:hover{
	background: #ea4c88;
	color: #fff;
}

#nav>li ul li:nth-child(even) a{
	background: #333333;
}

/* BREADCRUMBS ------------------------------------------------------------*/

.breadcrumbs{ color: #444; }

.breadcrumbs a{ color: #888; }


/* CONTACT CONTENT ------------------------------------------------------------*/

#contact-sidebar{ background: #e2e0d7; }


/* SIDEBAR ------------------------------------------------------------*/

#sidebar{ background: #e2e0d7; }

#sidebar .block{ border-bottom: 1px solid #bcbcba; }

/* HOME ------------------------------------------------------------*/

.home-block figcaption{
	background: #ea4c88;
	color: #f1f1f1;
}

/* PORTFOLIO ------------------------------------------------------------*/

.portfolio-thumbs figcaption{
	background: #ea4c88;
	color: #f1f1f1;
}

/* PROJECT ------------------------------------------------------------*/

.project-heading .launch{ color: #888; }

.project-info strong{ color: #444; }

.project-pager a{ color: #444; }

.project-pager a:hover{ 	color: #ea4c88; }

/* RELATED PROJECTS ---------------------------------------------------*/

.related-heading{ color: #444; }

.related-projects .thumb{ background: #ea4c88 url(../img/plus.png) center center no-repeat; }


/* BLOG ------------------------------------------------------------*/

#posts-list .feature-image,
#post-content .feature-image{ background: #ea4c88 url(../img/plus.png) center center no-repeat; }

article .meta{
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	overflow: hidden;
}

#posts-list .entry-date{ color: #f1f1f1; }

/* PAGE NAVIGATION ------------------------------------------------------------*/

.page-navigation a{
	background: #444 url(../img/noise.png) repeat;
	color: #f1f1f1;
}

.page-navigation a:hover{
	background: #ea4c88;
	color: #fff;
}

/* PAGER ------------------------------------------------------------*/

.pager li a{ color: #444; }

.pager li:hover a{
	color: #fff;
	background: #ea4c88;
}

.pager li.active a{ 
	background: #444;
	color: #fff;
}

/* SLIDER ------------------------------------------------------------*/

#slider-holder #headline{ background: #e2e0d7; }



/* FOOTER ------------------------------------------------------------*/


footer .wrapper{
	background: url(../img/footer.png) repeat-x top center;
}

.footer-bottom{
	border-top: 1px solid #ccc;
}
